@import "nav";
@import "courseLayout";
body {
  min-width: 300px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
// joinUsImg
.joinUsImg {
  margin-top: 30px;
  display: block;
  max-width: 100%;
  @include blurer(3);
}
// [END] joinUsImg
// container
.container {
  max-width: 1024px;
  position: relative;
  box-sizing: border-box;
  height: auto !important;
  clear: both;
}
// [END] container
// contain-area
.contain-area {
  padding: 5px 20px 20px;
  height: auto !important;
  position: relative;
  margin: 0 auto;
  box-shadow: 1px 1px 1px rgba(20%,20%,40%,0.6),2px 2px 3px rgba(20%,20%,40%,0.4),-1px 1px 1px rgba(20%,20%,40%,0.6);
}
// [END] contain-area
.mask {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  background-color: rgba(black,.4);
}
.joinUsBtn {
  margin: 15px auto 0;
  height: 25px;
  width: 100px;
  text-align: center;
  line-height: 25px;
  font-size: 1em;
  color: white;
  border: 2px solid black;
  &:hover {
    @extend %cursorPointer;
    background-color: rgba(white,.5);
  }
}
.slogan {
  color: white;
  display: block;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
@media screen and (min-width: $XS) {
  .joinUsBtn {
    height: 30px;
    line-height: 30px;
    width: 100px;
    margin-top: 5%;
    font-size: 1.5em;
  }
  .slogan {
    font-size: 2em;
    margin-top: 10%;
  }
}
@media screen and (min-width: $SM) {
  .joinUsBtn {
    margin-top: 5%;
    font-size: 1.5em;
    height: 50px;
    line-height: 50px;
    width: 150px;
  }
  .mask {
    position: absolute;
  }
  .slogan {
    font-size: 3em;
    margin-top: 10%;
  }
}
@media screen and (min-width: $LG) {
  .contain-area {
    width: $LG;
  }
  .joinUsBtn {
    margin: 50px auto 0;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    color: white;
    border: 2px solid black;
  }
  .slogan {
    font-size: 4em;
    margin-top: 50px;
  }
}
