$navBgc: #7BA195;
$navMenuIcon: (hover:#808080,normal:#E8E8E8);
$bodybackground: #F7FAFA;
$LG: 1024px;
$SM: 768px;
$XS: 480px;
body {
  background-color: $bodybackground;
  margin: 0;
  padding: 0;
  min-width: 480px;
}
.footer{
  width: 100%;
  height: 20px;
}
a{
  color: black;
}
// element
%cursorPointer {
  cursor: pointer;
}
// [END] element
// blur tool
@mixin blurer($var) {
  filter:url("blur.svg#blur");
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(#{$var}px);
  /* Chrome, Opera */
  -moz-filter: blur(#{$var}px);
  -ms-filter: blur(#{$var}px);
  filter:blur(#{$var}px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=#{$var}, MakeShadow=false);
  /* IE6~IE9 */
}
// [END] blur tool
// topNavBg whole div
.topNavBg {
  position: relative;
  height: 50px;
  padding: 5px;
  background-color: white;
  box-sizing: border-box;
  margin-left: 3px;
  margin-right: 3px;
  box-shadow: 2px 0 2px rgba(20%,20%,40%,0.6),4px 0 6px rgba(20%,20%,40%,0.4);
}
// [END] topNavBg
// topNav
.topNav {

  display: block;
  margin: 0 auto;
}
// [END] topNav
// navMenuIconBg navMenuIcon hamberger
.navMenuIconBg {
  height: 40px;
  width: 40px;
  background-color:white;
  position: relative;
  float: right;
    border: 1px solid #E8E8E8;
    &:hover {
      @extend %cursorPointer;
      bgc: #808080;
    }
    &:active {
      box-shadow: -1px -1px 2px rgba(20%,20%,40%,0.6) inset,2px 2px 3px rgba(20%,20%,40%,0.6) inset;
    }
}
.navMenuIcon {
  content: '';
  margin-left: 5px;
  height: 6px;
  width: 30px;
  background: map-get($navMenuIcon, normal);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  box-shadow: 0 12px map-get($navMenuIcon, normal), 0 24px map-get($navMenuIcon, normal);
  -webkit-box-shadow: 0 12px map-get($navMenuIcon, normal), 0 24px map-get($navMenuIcon, normal);
  -moz-box-shadow: 0 12px map-get($navMenuIcon, normal), 0 24px map-get($navMenuIcon, normal);
}
// [END] navMenuIconBg navMenuIcon hamberger
// hlIcon
.icon {
  display: inline-block;
  font-family: Pacifico, sans-serif;
  font-size: 35px;
    height: 40px;
  line-height: 40px;
  text-align: center;
  span{
    font-size: 5vmin;
  }
}
.hlIcon {
  widows: 40px;
  height: 40px;
}
// [END] hlIcon
// navLink
.navLink {

    border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
  height: 30px;
  float: right;
  color: #9E9E9E;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #E8E8E8;
  font-size: 1.5em;
  &:hover {
    @extend %cursorPointer;
    color: #808080;
  }
  &:active {
    box-shadow: -1px -1px 2px rgba(20%,20%,40%,0.6) inset,2px 2px 3px rgba(20%,20%,40%,0.6) inset;
  }
}
// [END] navLink
// navMenuSlidebar
.navMenuSlidebar {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: yellow;
  z-index: 999;
}
.menuLink {

  text-align: center;
  line-height: 40px;
  width: 100%;
  height: 40px;
  &:hover {
    @extend %cursorPointer;
    background-color: darken(yellow, 5%);
  }
}
// [END] navMenuSlidebar
@media screen and (min-width: $LG)  {
  .topNav {
    height: 50px;
    width: $LG - 50px;
  }
}
@media screen and  (max-width: $XS ) {
  .hideXS{
    display: none;
  }
}

@media screen and  (min-width: $XS ) {
  .hideSM {
    display: none;
  }
  .topNav {
    padding-left: 20px;
    padding-right: 20px;
  }
}
