$large: 1024px;
$medium: 768px;
$small: 480px;
$tablebackground: #E2ECCC;
$tableborder: #344065;
body {
    min-height: 500px;
}
.content {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    @media screen and (min-width: $small), (max-width: $small) {
        width: 480px;
    }
    @media screen and (min-width: $medium) {
        width: 768px;
    }
}
// wrapper
.wrapper {
    // width: 11.5em;
    position: relative;
    text-align: center;
    margin: 0 auto;
    @media screen and (max-width: $small) {
        .line2 {
            display: none;
        }
    }
    @media screen and (min-width: $small+1) {
        .line1 {
            display: none;
        }
    }
}
// setting title
.title {
    text-align: center;
    width: 7.5em;
    > td {
         > h3,
        > h1 {
            margin: 0 auto;
            border-radius: 10px;
        }
        @media screen and (max-width: $small) {
            > h3 {
                display: none;
            }
        }
    }
}
// setting table css
Table {
    background-color: $tablebackground;
    border-radius: 10px;
    border: 2px solid $tableborder;
}
.space {
    height: 10px;
}
.line {
    margin: 0 auto;
    position: absolute;
    height: 2px;
    width: 346px;
    background-color: black;
}
.line1 {
    top: 10%;
    @media screen and (min-width: $small), (max-width: $small) {
        left: 14%;
    }
    @media screen and (min-width: $medium) {
        left:27.53%;
    }
}
.line2 {
    top: 18%;
    @media screen and (min-width: $small), (max-width: $small) {
        left: 14%;
    }
    @media screen and (min-width: $medium) {
        left:27.53%;
    }
}
.FieldName,
.TableForm {
    text-align: right;
    margin: 0 auto;
    width: 7.5em;
}
.hint {
    text-align: left;
    color: gray;
    font-size: 0.8em;
}
.tab {
    width: 2em;
}
// setting the desperate line
.TableForm {
    padding: 0 2em;
}
// setting the input area's width
input,
textarea {
    width: 15em;
}
