body {
  margin: 0;
  padding: 0; }

.navMenuIconBg:hover, .navLink:hover, .menuLink:hover, .joinUsBtn:hover {
  cursor: pointer; }

.topNavBg {
  position: relative;
  height: 50px;
  padding: 5px;
  background-color: #f4f7f7;
  box-sizing: border-box; }

.topNav {
  display: block;
  margin: 0 auto; }

.navMenuIconBg {
  height: 40px;
  width: 40px;
  background-color: #f4f7f7;
  display: block;
  position: relative;
  float: right; }
  .navMenuIconBg:hover {
    background-color: #e5ecec; }
    .navMenuIconBg:hover > .navMenuIcon {
      background: white;
      box-shadow: 0 12px white, 0 24px white; }

.navMenuIcon {
  content: '';
  margin-left: 5px;
  height: 6px;
  width: 30px;
  background: #e3dede;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  box-shadow: 0 12px #e3dede, 0 24px #e3dede;
  -webkit-box-shadow: 0 12px #e3dede, 0 24px #e3dede;
  -moz-box-shadow: 0 12px #e3dede, 0 24px #e3dede; }

.hlIcon {
  widows: 40px;
  height: 40px; }

.navLink {
  margin-right: 5px;
  margin-top: 5px;
  height: 30px;
  position: relative;
  float: right;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid black;
  font-size: 1.5em; }
  .navLink:hover {
    background-color: #e5ecec; }

.navMenuSlidebar {
  position: fixed;
  top: 50px;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: yellow; }

.menuLink {
  text-align: center;
  line-height: 40px;
  width: 100%;
  height: 40px; }
  .menuLink:hover {
    background-color: #e5e600; }

@media screen and (max-width: 480px) {
  .hideXS {
    display: none; } }
@media screen and (min-width: 480px) {
  .hideSM {
    display: none; } }
@media screen and (min-width: 1024px) {
  .topNav {
    height: 50px;
    width: 1024px; }

  .hideLG {
    display: none; } }
.joinUsImg {
  display: block;
  max-width: 100%;
  height: auto;
  filter: url(blur.svg#blur);
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(3px);
  /* Chrome, Opera */
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=false);
  /* IE6~IE9 */ }

.container {
  position: relative; }

.contain-area {
  margin: 0 auto; }

.mask {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.3); }

.joinUsBtn {
  margin: 0 auto;
  margin-top: 18%;
  height: 50px;
  width: 150px;
  text-align: center;
  line-height: 50px;
  font-size: 2em;
  color: white;
  border: 2px solid black; }
  .joinUsBtn:hover {
    background-color: rgba(255, 255, 255, 0.5); }

.slogan {
  color: white;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 7vmin; }

@media screen and (min-width: 1024px) {
  .contain-area {
    width: 1024px; } }
@media screen and (max-width: 768px) {
  .joinUsBtn {
    margin-top: 5%;
    font-size: 5vmin;
    height: 30%;
    width: 50%; } }
@media screen and (max-width: 480px) {
  .joinUsBtn {
    height: 30%;
    width: 50%;
    margin-top: 5%;
    font-size: 7vmin; } }

/*# sourceMappingURL=homePage.css.map */
