body {
  background-color: #F0F5D3;
  margin: 0;
  padding: 0;
  min-width: 480px; }

.navMenuIconBg:hover, .navLink:hover, .menuLink:hover, .joinUsBtn:hover {
  cursor: pointer; }

.topNavBg {
  position: relative;
  height: 50px;
  padding: 5px;
  background-color: #7BA195;
  box-sizing: border-box;
  margin-left: 3px;
  margin-right: 3px;
  box-shadow: 2px 0 2px rgba(51, 51, 102, 0.6), 4px 0 6px rgba(51, 51, 102, 0.4), 6px 0 12px rgba(51, 51, 102, 0.4); }

.topNav {
  display: block;
  margin: 0 auto; }

.navMenuIconBg {
  height: 40px;
  width: 40px;
  background-color: #7BA195;
  display: block;
  position: relative;
  float: right; }
  .navMenuIconBg:hover {
    background-color: #6c9689; }
    .navMenuIconBg:hover > .navMenuIcon {
      background: white;
      box-shadow: 0 12px white, 0 24px white; }

.navMenuIcon {
  content: '';
  margin-left: 5px;
  height: 6px;
  width: 30px;
  background: #e3dede;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  box-shadow: 0 12px #e3dede, 0 24px #e3dede;
  -webkit-box-shadow: 0 12px #e3dede, 0 24px #e3dede;
  -moz-box-shadow: 0 12px #e3dede, 0 24px #e3dede; }

.icon {
  display: inline;
  font-family: Pacifico, sans-serif;
  font-size: 35px; }

.hlIcon {
  widows: 40px;
  height: 40px; }

.navLink {
  margin-right: 5px;
  margin-top: 5px;
  height: 30px;
  position: relative;
  float: right;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid black;
  font-size: 1.5em; }
  .navLink:hover {
    background-color: #6c9689; }

.navMenuSlidebar {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: yellow;
  z-index: 999; }

.menuLink {
  text-align: center;
  line-height: 40px;
  width: 100%;
  height: 40px; }
  .menuLink:hover {
    background-color: #e5e600; }

@media screen and (min-width: 1024px) {
  .topNav {
    height: 50px;
    width: 1024px; } }
@media screen and (max-width: 480px) {
  .hideXS {
    display: none; } }
@media screen and (min-width: 480px) {
  .hideSM {
    display: none; } }
/* Grid */
.col {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media screen and (min-width: 480px) {
  .col-xs-11 {
    width: 91.662%; }

  .col-xs-10 {
    width: 83.332%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-8 {
    width: 66.662%; }

  .col-xs-7 {
    width: 58.331%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-5 {
    width: 41.662%; }

  .col-xs-4 {
    width: 33.332%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-2 {
    width: 16.662%; }

  .col-xs-1 {
    width: 8.332%; } }
@media screen and (min-width: 768px) {
  .col-sm-11 {
    width: 91.662%; }

  .col-sm-10 {
    width: 83.332%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.662%; }

  .col-sm-7 {
    width: 58.331%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.662%; }

  .col-sm-4 {
    width: 33.332%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.662%; }

  .col-sm-1 {
    width: 8.332%; } }
@media screen and (min-width: 1024px) {
  .col-md-11 {
    width: 91.662%; }

  .col-md-10 {
    width: 83.332%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.662%; }

  .col-md-7 {
    width: 58.331%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.662%; }

  .col-md-4 {
    width: 33.332%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.662%; }

  .col-md-1 {
    width: 8.332%; } }
@media screen and (min-width: 1280px) {
  .col-lg-11 {
    width: 91.662%; }

  .col-lg-10 {
    width: 83.332%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.662%; }

  .col-lg-7 {
    width: 58.331%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.662%; }

  .col-lg-4 {
    width: 33.332%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.662%; }

  .col-lg-1 {
    width: 8.332%; } }
.container > .row {
  border: 1px solid black; }

.courseFrame {
  margin: 0 auto;
  margin-top: 5px;
  height: 70px;
  width: 100%;
  border: 1px solid black; }

.profile {
  width: 70px;
  height: 70px;
  background-color: pink; }

@media screen and (min-width: 480px) {
  .profile {
    width: 70px;
    height: 70px; }

  .courseFrame {
    margin-top: 30px;
    height: 200px;
    width: 210px; } }
@media screen and (min-width: 768px) {
  .courseFrame {
    margin-top: 30px;
    height: 250px;
    width: 220px; } }
@media screen and (min-width: 1024px) {
  .courseFrame {
    margin-top: 30px;
    height: 250px;
    width: 220px; } }
body {
  min-width: 300px; }

.joinUsImg {
  margin-top: 30px;
  display: block;
  max-width: 100%;
  filter: url("blur.svg#blur");
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(3px);
  /* Chrome, Opera */
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=false);
  /* IE6~IE9 */ }

.container {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1024px;
  position: relative;
  box-sizing: border-box; }

.contain-area {
  margin: 0 auto; }

.mask {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.4); }

.joinUsBtn {
  margin: 0 auto;
  margin-top: 15px;
  height: 25px;
  width: 100px;
  text-align: center;
  line-height: 25px;
  font-size: 1em;
  color: white;
  border: 2px solid black; }
  .joinUsBtn:hover {
    background-color: rgba(255, 255, 255, 0.5); }

.slogan {
  color: white;
  display: block;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.2em; }

@media screen and (min-width: 480px) {
  .joinUsBtn {
    height: 30px;
    line-height: 30px;
    width: 100px;
    margin-top: 5%;
    font-size: 1.5em; }

  .slogan {
    font-size: 2em;
    margin-top: 10%; } }
@media screen and (min-width: 768px) {
  .joinUsBtn {
    margin-top: 5%;
    font-size: 1.5em;
    height: 50px;
    line-height: 50px;
    width: 150px; }

  .mask {
    position: absolute; }

  .slogan {
    font-size: 3em;
    margin-top: 10%; } }
@media screen and (min-width: 1024px) {
  .contain-area {
    width: 1024px; }

  .joinUsBtn {
    margin: 0 auto;
    margin-top: 50px;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    color: white;
    border: 2px solid black; }

  .slogan {
    font-size: 4em;
    margin-top: 50px; } }

/*# sourceMappingURL=homePage.css.map */
