/*
Error: Invalid CSS after "...207a0aa939678d6": expected "{", was "}"
        on line 52 of C:\Users\ªü¤å\Desktop\HappyLearn\HappyLearnFrontPage\WebContent\scss\nav.scss

47:     height: 50px;
48:     padding: 5px;
49:     background-color: $navBgc;
50:     box-sizing: border-box;
51: >>>>>>> 83a68867a7e67f7db22092f83207a0aa939678d6
52: }
53: // [END] topNavBg
54: // topNav
55: .topNav {
56:     display: block;
57:     margin: 0 auto;

Backtrace:
C:\Users\ªü¤å\Desktop\HappyLearn\HappyLearnFrontPage\WebContent\scss\nav.scss:52
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/Koala/bin/sass:18:in `load'
D:/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...207a0aa939678d6\": expected \"{\", was \"}\"\A         on line 52 of C:\Users\ªü¤å\Desktop\HappyLearn\HappyLearnFrontPage\WebContent\scss\nav.scss\A \A 47:     height: 50px;\A 48:     padding: 5px;\A 49:     background-color: $navBgc;\A 50:     box-sizing: border-box;\A 51: >>>>>>> 83a68867a7e67f7db22092f83207a0aa939678d6\A 52: }\A 53: // [END] topNavBg\A 54: // topNav\A 55: .topNav {\A 56:     display: block;\A 57:     margin: 0 auto;"; }
